html,
body {
  height: 100%;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn {
  padding: 10px 20px;
  background-color: #f25a70;
  color: #fff;
  text-transform: uppercase;
  font-size: 40px;
  font-family: 'Comfortaa', cursive;
  cursor: pointer;
  opacity: 0.8;
  transition: opacity 200ms linear;
}

.btn:hover {
  opacity: 1;
}